@using System.Threading.Tasks;
@using IA.MagicSuite.Web.Areas.App.Startup;

@{
    Layout = "~/Areas/App/Views/Layout/_iamMagicWidgetLayout.cshtml";
    ViewBag.CurrentPageName = AppPageNames.Common.DashboardMagicFlow;
}

@section Styles{

    <style>
        #iamWidgetBuildContent, #iamWidgetPreviewContent {
            padding: 20px;
            overflow: auto;
        }

        #iamWidgetPreviewContent {
            flex: 2 0 60%;
            margin-left: 20px;
            background-color: white;
        }

        #iamWidgetBuildContent {
            flex: 1 0 39%;
            background-color: rgb(246, 246, 248);
        }

            #iamWidgetBuildContent .build-toolbar {
                background-color: white;
            }

            #iamWidgetBuildContent .build-size {
                width: 100%;
            }

                #iamWidgetBuildContent .build-size .size-item {
                    width: 45%;
                }

                #iamWidgetBuildContent .build-size input {
                    width: 50%;
                }

            #iamWidgetBuildContent .build-setting {
                padding-top: 45px;
            }

                #iamWidgetBuildContent .build-setting .build-setting-item {
                    background-color: white;
                    margin: 0px 0px 10px;
                }

                    #iamWidgetBuildContent .build-setting .build-setting-item .item-header {
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        justify-content: space-between;
                        padding: 10px;
                        height: 70px;
                    }

                    #iamWidgetBuildContent .build-setting .build-setting-item .item-content {
                        height: 500px;
                        display: none;
                    }

                        #iamWidgetBuildContent .build-setting .build-setting-item .item-content.open {
                            display: flex;
                            width: 100%;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }

        .editor-wrapper, .editor-code {
            width: 100%;
            height: 100%;
        }
    </style>

}

@section Scripts{
    <script>
        //Les collapses d'edition de notre widget
        $('#iamWidgetBuildContent .build-setting .build-setting-item .item-header').on('click', function () {
            let content = $(this).next('.item-content');
            content.addClass('click');
            $('#iamWidgetBuildContent .build-setting .build-setting-item .item-content').not('.click').removeClass('open');
            content.toggleClass('open');
            content.removeClass('click');
        });
    </script>
    <script src="~/lib/iaMagic/iamLib/jsonfn.min.js"></script>
    <script src="~/lib/ejs.js"></script>
    <script src="~/lib/iaMagic/aceLib/ace.js"></script>
    <script src="~/lib/iaMagic/aceLib/mode-css.js"></script>
    <script src="~/lib/iaMagic/aceLib/mode-ejs.js"></script>
    <script src="~/lib/iaMagic/aceLib/mode-javascript.js"></script>
    <script src="~/lib/iaMagic/aceLib/ext-language_tools.js"></script>
    <script src="~/view-resources/Areas/App/Views/MagicWidget/iamWidget.js"></script>
    <script>
        iamWidget.init();
    </script>

}


<div class="d-flex flex-column" id="iamWidgetBuildContent">

    <div class="build-toolbar p-5 d-flex align-items-center">
        <a class="btn btn-sm btn-light-success font-weight-bold ml-auto" id="iamWidgetPreviewButton">
            <i class="fas fa-play"></i> Preview
        </a>
    </div>
    <div class="build-setting d-flex flex-column">
        <div class="build-setting-item attributes">
            <div class="item-header">
                <div class="title">Attributes</div>
                <div id="Add-attribute-btn">
                    <button id="CreateNewWidgetAttributeButton" class="btn btn-primary blue">
                        <i class="fa fa-plus"></i>
                        @L("CreateNewWidgetAttribute")
                    </button>
                </div>
            </div>
            <div id="widgetAttributesGridList" class="item-content p-2"></div>
        </div>
        <div class="build-setting-item html">
            <div class="item-header">
                <div class="title">HTML</div>
            </div>
            <div class="item-content">
                <div class="editor-wrapper">
                    <div id="code-html" class="editor-code"></div>
                </div>
            </div>
        </div>
        <div class="build-setting-item css">
            <div class="item-header">
                <div class="title">CSS</div>
            </div>
            <div class="item-content">
                <div class="editor-wrapper">
                    <div id="code-css" class="editor-code"></div>
                </div>
            </div>
        </div>
        <div class="build-setting-item custom-js">
            <div class="item-header">
                Custom JS
            </div>
            <div class="item-content">
                <div id="code-custom-js" class="editor-code"></div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-column align-items-center justify-content-center" id="iamWidgetPreviewContent">

</div>